/* Write your CSS here */

.bg-con {
  min-height: 100vh;
  background-color: #161625;
  padding: 30px 80px 30px 80px;
}

.logo-con {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.website-logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.cowin-heading {
  font-family: 'Roboto';
  font-size: 20px;
  color: #2cc6c6;
}

.cowin-vaccination {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 30px;
}

.loader {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.failure-view-con {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.failure-img {
  width: 400px;
}
.something-went-wrong {
  font-family: 'Bree Serif';
  color: #ffffff;
  font-size: 30px;
}
